.new-project-body {
    width: 100%;
}

.new-project-steps {
    position: fixed;
    width: 200px;
    left: 30px;
    top: 80px;
}

.new-project-content {
    left: 220px;
    top: 80px;
    height: 200px;
    width: calc(100% - 250px);
    padding-bottom: 50px;
    position: absolute;
}